*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*projects*/
.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card{
    width: 500px;
}

.card-img-top{
    width: 100%;
}