*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

/*Navigation*/
.name{
    font-size: 25px;
}


.navigation{
    list-style-type: none;
    float: right;
}

.nav-list{
    float: left;
}

.nav-list a{
    display: block;
    text-align: center;
    text-decoration: none;
}


/*Main*/
main{
    width: 100vw;
    height: 650px;
    max-height: 700px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background:url(./assets/rm191-nu-08.jpg) no-repeat center center/cover;
}

.main-sec{
   margin: 0;
    
}

.main-name{
    font-size: 100px;
}

.main-desc{
    font-size: 50px;
}

/*projects.html*/
.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card{
    width: 500px;
}

.card-img-top{
    width: 100%;
}


/*SKILLS*/

/*FEATURED PROJECTS*/

.card-container{
    display: flex;
    flex-wrap: wrap;
}

.card-one{
    float: left;
    width: 50%;
}

.card-two{
    float: right;
    width: 50%;
}












/*CONTACT*/
.contact-container{
    margin: 50px;

}

form{
    display: grid;
    grid-template-columns: 2 1fr;
    grid-gap: 5.5px;
    width: 600px;
}

input{
    height: 30px;
    font-size: 15px;
}

input[type="submit"]{
    color: green;
}